# Intermediate interpretability data
*.pt
*.npy

# .csv data
*.csv

# Causal graph files
feature_web.png
*.svg

# `lightning` and `wandb` local logging
*.ckpt
logs/
wandb/

# HF access tokens
hf_access.yaml

# Testing
tests/smoke_test_data/smoke_test_token_info.csv
__pycache__/
.pytest_cache/
*.txt

# Onstart script and setuptools temp files
sparse_circuit_discovery.egg-info/
onstart.log
onstart.sh
ports.log
