# Intermediate interpretability data
*.pt
*.npy

# .csv data
*.csv

# Graph .png files
*.png

# `Lightning` training logging
*.ckpt
logs/

# HF access tokens
hf_access.yaml

# Testing
tests/smoke_test_data/smoke_test_token_info.csv
__pycache__/
.pytest_cache/
*.txt

# Onstart script and setuptools temp files
sparse_circuit_discovery.egg-info/
onstart.log
onstart.sh
ports.log
